body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.card-grid > div {
  background: black;
  padding: 1rem;
}

.card-grid > div::before {
  content: "";
  padding-bottom: 100%;
  display: block;
}